/* header */

.header {
    overflow: hidden;
    background-color: rgb(176, 176, 176);
}

#header-left {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 15px;
}

#header-right {
    width: 80%;
    float: left;
    text-align: center;
}


/* side bar*/

.sidebar {
    height: 700px;
    width: 20%;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgb(222, 222, 255);
    float: left;
}

.menu {
    padding-left: 15px;
    margin-top: 100px;
}

.menu #head-sidebar {
    font-size: 25px;
}

.menu #list-sidebar {
    padding-left: 20px;
}

.menu a {
    text-decoration: none;
}


/* Main */

.main {
    float: left;
    width: 80%;
    height: 700px;
    background-color: rgb(255, 245, 231);
}


/* Container */

.add-button {
    margin-top: 20px;
    text-align: center;
}

.add-button button {
    width: 10vh;
    border-radius: 15px;
}


/* Footer */

.footer {
    display: block;
    bottom: 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 50px;
    background-color: rgb(176, 176, 176);
}

.footer h1 {
    text-align: center;
}


/*User List*/

.td {
    text-align: center;
}

.bi.bi-person {
    width: 50px;
}
